html{
    font-size: 1rem;
    box-sizing: border-box;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --font-family-oswald:font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    --bg-color-dark:#222;
    --bg-color-white:#fff;
    --bg-color-blue-enlace:#00c4d6;
    --bg-color-pink-enlace:#e44bb4;
    --color-font:#d9e8f0;
    --bg-color-slide:#1e2345;
    --bg-color-slideThow:#108e64;
}

.slides{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
}

.container-slide{
    width: 50%;
    height: 50%;
    border: thin solid white;
    display: grid;
    grid-template-columns: repeat(5, 100%);
    overflow-x: scroll;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--color-font);
    scroll-snap-align: center;
}

.content p{
    text-align: center;
    margin-top:1rem;
    
}



.content:nth-child(even){
    background-color: var(--bg-color-blue-enlace);
}

.slide{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align:end;
}

.slide:nth-child(even){
    background-color: var(--bg-color-blue-enlace);
}

.slide:nth-child(odd){
    background-color: var(--bg-color-slide);
}

.slide-container{
    width: 80%;
    margin: 0 auto;
}

.slide-container > .h1,.h2{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.h1{
    font-size: 3vw;
}

.p{
    line-height: 1.6rem;
}