html{
    font-size: 16px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --black-color:#000;
    --white-color:#fff;
    --blue-color:rgba(0, 162, 255, 0.973);
    --coral-color:coral;
}

*,
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}

.container{
    width: 80%;
    margin: 0% auto;
}

.main{
    margin-top: 1rem;
   
}

.h3{
    margin-bottom: 1rem;
}
.article-shapes{
    width: 90%;
    margin: 2rem auto;
}

.article-shapes p{
    margin-bottom: 1rem;
    line-height: 1.6rem;
}

.img-shapes{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0%;
    shape-outside: circle();
    margin: 2rem;
}

.right{
    float: right;
}

.left{
    float: left;
}
.header{
    width: 100%;
    height: 3rem;
    border-bottom: thin solid var(--black-color);
    border-left: thin solid var(--black-color);
    border-right: thin solid var(--black-color);
    background-color: coral;
}

.h1{
    color: var(--white-color);
    text-align: center;
}

.h2{
    color: tomato;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.h2::after{
    content: ':';
}

.box{
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right:auto ;
    border: thin solid var(--black-color);
}

.color-black{
    background-color: var(--black-color);
    box-shadow: 1rem 1rem 3rem .1rem black; /* valores en x,y,blur y expacion*/

}

.color-blue{
    background-color: var(--blue-color);
}

.shadow-multiple{
    box-shadow: .5rem 1rem 1rem 1rem var(--black-color) inset,
                -1rem -1rem 1rem var(--blue-color),
                1rem 1rem 2rem 1rem var(--coral-color); /*sombra interna*/

}

.text{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    color: var(--blue-color);
}

.text-shadow{
    text-shadow: -3rem 2rem .2rem var(--black-color),
                  6rem 4rem .2rem var(--coral-color),
                 -3rem 6rem .2rem var(--black-color),
                  6rem 8rem .2rem var(--coral-color);
}

.lineal{
    background-image: linear-gradient(-45deg,blue 30%,red,green); /*con lo aprendido haz la bandera de italia*/
    background-image: linear-gradient(90deg, green 33%, white 34% 67%, red 68%);
}

.radial{
    background-image: radial-gradient(red 20%,white 21% 100%);
}

.conico{
    background-image: conic-gradient(
        green 10%,
        white 11% 15%,
        red 16% 20%
    );
}

.container-img-filtros{
    width: 90%;
    margin: 0% auto;
}

.card{
    width: 600px;
    height: 350px;
    margin: 1rem auto;
    background-image: url('../../assets/images/bango.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p{
    background-color: #000000cc;
    text-wrap: nowrap;
    padding: 3rem;
    border-radius: .4rem;
    color: white;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
}

.img-card{
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: right center;
   

}
.img-filter{
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    filter: blur(.1rem);
}

.circle-gradient{
    border-radius: 50%;
    background-image: conic-gradient(
        cyan 0 20%,
        blue 20% 80%,
        yellow 80%
    );
}

.donut-gradient{
    border-radius: 50%;
    background-image: radial-gradient(
        white 50%,
        black 51%
         52% ,
         transparent 53%),
         
    conic-gradient(
        cyan 0 20%,
        blue 20% 80%,
        yellow 80%
    );
}
